/*
  Main
*/
body{
  color: #2d3c49;
}

/*
  Title
*/

.title {
  margin-top: 2em;
  margin-bottom: 1em; 
  resize: both;
  overflow: auto;
}

.title h1{
  font-family: 'Poiret One', cursive;
  font-weight: 500;
}

.title img {
  min-height: 10em;
  margin-right: auto;
  margin-bottom: 1em;
}

/*
  Carousel
*/

carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

/*
  Work
*/

.work {
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 2em;
}

.work p {
  color: #7d97ad;
}

.item {
  padding: 1em;
  height: auto;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
  color: #2d3c49;
}

.item img {
  display: block;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.item:hover {
  transform: scale(1.05);
}

/*
  Footer
*/

.footer {
  padding-left: 2em;
  text-align: center;
}

.footer p {
  color: #7d97ad;
}

/*
  Breakpoints
*/

@media screen and (min-width: 500px) {
  .title h1 {
    font-size: 3em;
  }
  
  .work h2 {
    text-align: center;
  }

  .footer h2 {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .container-fluid {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .title h1 {
    font-size: 4em;
  }
}

h2 {
  padding-bottom: 1em;
}